
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin
  color: #244751;
  background-color: #dcd8d8;
  font-family: "roboto condensed", "san Serif";
}



